*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  /*my styles*/
  display: flex; 
  justify-content: center;
  align-items: center; 
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/**/
.content {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 30px;
  width: 1140px;
  height: 534px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 5px;
}

.search-form__textfield {
  appearance: none; /* Убирает нативные стили */
  -webkit-appearance: none; /* Для Webkit-браузеров (Chrome, Safari) */
  -moz-appearance: none; /* Для Firefox */
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  color: inherit;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  min-width: 225px;
  outline: none;
  padding: 2.5px 0;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  justify-content: start;
  gap: 15px;
  padding-bottom: 5px;
}

.search-form__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.search-form__textfield,
.search-form__textfield:focus,
.search-form__textfield:focus-visible,
.search-form__checkbox,
.search-form__checkbox:focus,
.search-form__checkbox:focus-visible {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
}

.search-form__submit-button {
  width: 194px;
  font-weight: bold;
  padding: 6px 0;
  align-self: end;
  cursor: pointer;
}

.more-button {
  font-weight: bold;
  padding: 6px 0;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button,
.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  height: 100%;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.94;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-y: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
  margin-bottom: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 196px;
  padding-bottom: 6px;
}

.content__video-card-description {
  line-height: 0.9;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
  outline: none;
}

.content__video-card-description-container {
  flex-grow: 1; /* Заставляет контейнер занять всё доступное пространство */
  min-width: 0; /* Важно для правильной работы flex-grow с длинным текстом */
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0; /* Запрещаем сжатие картинки */
}

.content__card-link:hover .content__video-card-title {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-underline-offset: 4px;
}

.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-underline-offset: 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}
